.cover,.cover a,a .cover,.cover a.new {
    background-color: #252525 !important;
    color: #252525 !important;
    text-shadow: none !important;
    cursor: help
}

.cover a:hover,a:hover .cover {
    color: #66CCFF !important
}

.cover .new:hover,.new:hover .cover {
    color: #FF6666 !important
}

.cover:hover {
    color: #FFFFFF !important
}

.cover:hover a {
    color: #66CCFF !important
}
